@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3><strong>Phone</strong></h3>
    </header>
    <p>
        <span class="label">Home:</span>
        <span>4853215</span>
    </p>
    <p>
        <span class="label">Mobile:</span>
        <span>3816397399</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3><strong>Email</strong></h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:jlmarrone@gmail.com">jlmarrone@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3><strong>Address</strong></h3>
    </header>
    <p>
        Barrio Aget<br />
        Mexico 3900
    </p>
</section>