<h1>Skills Manager Web Application</h1>
<p>Hello @ViewBag.Name:</p>
<p>Welcome to the site!!</p>
<p>Your login credentials are the following: </p>
<p><strong>UserName:</strong> @ViewBag.Name</p> 
<p><strong>Password:</strong> @ViewBag.Password</p>
<p>Cheers!!</p>